
<div class="container">
  <as-split direction="horizontal" gutterSize="5">
    <as-split-area size="15" maxSize="80">
      <div>
        <app-customers [messageToInCustomers]="messageToInDashboard"
                       (messageToInCustomersChange)="notifyMessageToChanged($event)"></app-customers>
      </div>
    </as-split-area>
    <as-split-area size="85">
      <div class="padding">
        <app-messages [messageToObservableInMessages]="messageToInDashboardEventEmitter"></app-messages>
        <app-message [messageToObservableInMessage]="messageToInDashboardEventEmitter"></app-message>
      </div>
    </as-split-area>
  </as-split>
</div>
