
<div class="container" *ngIf="!isLoggedIn">
  <div class="center">
    <button class="button button1" (click)="onClickShowLogInForm()">Log-In</button>
    <button class="button button2" (click)="onClickShowRegistrationForm()">Register</button>
  </div>
</div>

<div class="container" *ngIf="isLoggedIn">
  <div class="center">
    <button class="button button1" (click)="onClickShowDashboard()">Dashboard</button>
    <button class="button button2" (click)="onClickLogOut()">Log-out</button>
  </div>
</div>
