
.message-list {
  overflow-y: scroll;
  max-height: calc(100vh - 184px);
}

.name {
  color: white;
  font-weight: bold;
  display: inline-block;
  margin-right: 10px;
}

.info {
  color: dimgray;
  font-size: small;
  display: inline-block;
}

p {
  color: #cccccc;
  margin: 5px 0;
}

.container {
  margin: 10px 20px 10px 0;
  padding: 10px;
}

.container:hover {
  background-color: #444;
}

.contains {
  background-color: #444;
}

.message {
  white-space: pre-wrap;
}
