
.container {
  height: calc(100vh - 46px);
  position: relative;
}

form {
  margin: 0;
  position: absolute;
  width: 50vw;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  background-color: #333;
  color: white;
  border: 2px solid #4CAF50;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 0;
  transition-duration: 0.4s;
  cursor: pointer;
  width: 100%;
}

button:hover {
  background-color: #4CAF50;
  color: black;
}

.is-invalid {
  border: 2px solid darkred;
}

.hidden {
  visibility: hidden;
}

.form-control {
  margin: 20px;
}

span {
  color: darkred;
}
