
<div class="container">
  <form [formGroup]="userLoginForm">

    <div class="form-control">
      <label for="name">Name</label>
      <input type="text" id="name" formControlName="name">
      <span *ngIf="nameNotValid()">Name must be a least 3 characters long</span>
      <span class="hidden">hidden</span>
    </div>

    <div class="form-control">
      <label for="password">Password</label>
      <input type="password" id="password" formControlName="password">
      <span *ngIf="passwordValidity()">Password must be a least 6 characters long</span>
      <span class="hidden">hidden</span>
    </div>

    <div class="form-control">
      <button type="button" (click)="onClickLogInUser()" [disabled]="userLoginForm.invalid" [ngClass]="{'is-invalid': userLoginForm.invalid}">Log-In</button>
    </div>

  </form>
</div>
