/* You can add global styles to this file, and also import other style files */

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background-color: #333333;
  scrollbar-width: thin;
  scrollbar-color: dimgray #444444;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: dimgray;
}

::-webkit-scrollbar-thumb {
  background-color: #444444;
}
