
.customer-list {
  overflow-y: scroll;
  height: calc(100vh - 46px);
}

.container {
  margin: 10px 0;
  padding: 10px 0 10px 10px;
}

.container:hover {
  background-color: #444;
}

app-customer {
  cursor: pointer;
}

.cr {
  margin: 0;
  color: white;
  font-weight: bold;
  display: inline-block;
  vertical-align: middle;
}

.cursor {
  cursor: pointer;
}

.is-selected {
  background-color: #4CAF50;
}
