
.customer-list {
  overflow-y: scroll;
  height: calc(100vh - 46px);
}

.container {
  margin: 5px 0;
  padding: 10px;
}

.container:hover {
  background-color: #444;
}

.container-flex:hover {
  background-color: #444;
}

app-customer {
  cursor: pointer;
}

.cr {
  margin: 0;
  color: white;
  font-weight: bold;
  display: inline-block;
  vertical-align: middle;
}

.cursor {
  margin: 5px 0;
  cursor: pointer;
  padding: 10px;
}

.border {
  border-bottom: #444 solid 2px;
}

.is-selected {
  background-color: #444;
}


.container-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mr-6 {
  margin-right: 6px;
}

.nb-new-messages {
  color: white;
  border-radius: 50%;
  background-color: #008CBA;
  width: 30px;
  height: 30px;
  overflow: hidden;
  text-align: center;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.hidden {
  visibility: hidden;
}
