
<div class="customer-list">
  <div class="border">
    <div class="container-flex cursor" (click)="changeCustomerNameForMassageTo('-')" [ngClass]="{'is-selected': messageToInCustomers == '-'}">
      <div class="container-flex">
        <p class="cr mr-6">Chat</p>
        <p class="cr">Room</p>
      </div>
      <div class="nb-new-messages" [ngClass]="{'hidden': nbNewMessages < 1}">
        {{nbNewMessages}}
      </div>
    </div>
  </div>
  <div class="container" *ngIf="customers.length == 0">
    <p class="cr">No customers</p>
  </div>
  <div class="container" *ngFor="let customer of customers" [ngClass]="{'is-selected': messageToInCustomers == customer.name}">
    <app-customer [customer]="customer" (click)="changeCustomerNameForMassageTo(customer.name)">
    </app-customer>
  </div>
</div>
